
    /* margin: 500px 200px 200px 20px;
    padding: 30px 30px 30px 50px;
    color: white !important;
    background-color: red;
} */


html,body{
  margin: 0px;
  padding: 0px;
  width: 100%;
  overflow-x: hidden;
}
.containerr img{

  height: 650px;
  width: 1750px;
  object-fit: cover;
  margin-left: -220px;
 


 
}
.btnn{
 
  color: #fff;
  font-size: 16px;
  background-color:#4a5363;
  margin: 10px 20px 10px 20px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  text-decoration: none;
  border: 1px solid white;
  text-shadow: 1px 1px white;


}
.conquer{
  position:relative;
  left: 580px;
  top: -370px;
  color: white;

}
.head{
  font-size: 80px;
  text-shadow: 2px 2px black;
  line-height:1;
  font-family: 'Fira Sans', sans-serif;
  
}
.h5{
  margin-left:65px;
  text-shadow: 1px 1px black;
  font-size: 20px;
  font-family: 'Fira Sans', sans-serif;
}
#section2{
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 200px;
  margin-right: 100px;
  width: 1100px;
 
}
.cardbtn{

  color: white !important;
  text-decoration: none !important;
  border-radius: 6px !important;
  border: 2px;
  display: block;
  text-align: center;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  margin-left: 60px;

}
.cardbtn:hover{
  opacity: 0.7;
}
#section3{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 80px;
  margin-left: 170px;
  margin-right: 170px;
  padding-left:15px;
  padding-right: 15px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif!important;
    
}
.readmore{
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  color:rgb(63, 62, 62);
  font-size: 18px;
  padding: 10px 30px;
  text-decoration: none;
  margin-left: 300px;
}
.readmore:hover{
  background-color: rgb(205, 204, 204);
  text-decoration: none;
  color:rgb(63, 62, 62);
}
/* .container{
  padding: 0px;
  margin: 0px;
} */

.head2{
  position:relative;
  left: 650px;
  top: -250px;
  color: white;
  text-shadow: 1px 1px rgb(169, 166, 166);
  line-height: 1;
  font-family: "Open Sans", Helvetica, Arial, sans-serif!important;
}
.para2{
  position: relative;
  text-align: center;
  top: -240px;
  color: white;
  font-size: 20px;


}
.readit{
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  color:rgb(63, 62, 62);
  font-size: 18px;
  padding: 10px 30px;
  text-decoration: none;
  margin-left: 50px;
  margin-top:50px;
}
.readit:hover{
  background-color: rgb(205, 204, 204);
  text-decoration: none;
  color:rgb(63, 62, 62);
}
#section6{
  margin-top: 50px;
  margin-left: 165px;
  margin-right: 165px;
  padding-bottom: 100px;
}
.readmore2{
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  color:rgb(63, 62, 62);
  font-size: 18px;
  padding: 10px 30px;
  text-decoration: none;
 
}
.readmore2:hover{

  background-color: rgb(205, 204, 204);
  text-decoration: none;
  color:rgb(63, 62, 62);
}
.contact img{
  width: 1570px;
  height: 520px;
  object-fit: cover;
  margin-top: 40px;
  margin-left: -170px;

}
.head3{
  position: relative;
  left: 480px;
  top: -450px;
  color: white;
  text-shadow: 1px 1px black;
  font-size: 40px;

}
.para3{
  position: relative;
  left: 35px;
  top: -410px;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;


}
.contactform{
  position: relative;
  left: 300px;
  top: -400px;
  

}
#name{
  background:rgba(242, 242, 242, 0.4);
   border:none; 
   color:black !important;
   height: 35px;
   padding-left:8px ;
   border-radius: 3px;
   line-height: 1.5;
}
#email{
  background:rgba(242, 242, 242, 0.4);
   border:none; 
   color:black !important;
   height: 35px;
   padding-left:8px ;
   border-radius: 3px;
   line-height: 1.5;
}
#subject{
  background:rgba(242, 242, 242, 0.4);
   border:none; 
   color:black !important;
   height: 35px;
   padding-left:8px ;
   border-radius: 3px;
   line-height: 1.5;
}
#comment{
   background:rgba(242, 242, 242, 0.4);
   border:none; 
   position: relative;
   left: 650px;
   top: -520px;
   width: 300px;
  color: black;
   border-radius: 3px;
  
}

